$back1: #c9e4f4;
$back2: #005ab0;
$back3: #11477a;
$back4: #12477a;
$back5: #6489ac;
$back6: #0095ff;
$back7: #e4f1f8;
$back8: #0f5796;
$text1: #005ab0;
$text2: #12477a;
$text3: #b4e7ff;
$text4: #0095ff;