@font-face {
  font-family: 'Warface';
  src: url('../fonts/hinted-WarfaceRegularEnglish.eot');
  src: local('WarfaceRegularEnglish'),
  url('../fonts/hinted-WarfaceRegularEnglish.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-WarfaceRegularEnglish.woff2') format('woff2'),
  url('../fonts/hinted-WarfaceRegularEnglish.woff') format('woff'),
  url('../fonts/hinted-WarfaceRegularEnglish.ttf') format('truetype'),
  url('../fonts/hinted-WarfaceRegularEnglish.svg#WarfaceRegularEnglish') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adventure';
  src: url('../fonts/hinted-Adventure.eot');
  src: local('Adventure'),
  url('../fonts/hinted-Adventure.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Adventure.woff2') format('woff2'),
  url('../fonts/hinted-Adventure.woff') format('woff'),
  url('../fonts/hinted-Adventure.ttf') format('truetype'),
  url('../fonts/hinted-Adventure.svg#Adventure') format('svg');
  font-weight: normal;
  font-style: normal;
}